body {
  font-family: "Poppins", sans-serif;
  background-image: url(./assets/img/sfondo.png);
  background-repeat: repeat-y;
}

header {
  background: linear-gradient(206deg, #0099bb, #117788);
  text-align: center;
  color: white;
  font-weight: 500;
  font-size: 1.2em;
  box-shadow: 5px 10px 18px #888888;
  padding-bottom: 40px;
}

img {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

nav a {
  color: white;
  font-weight: 500;
  text-decoration: none;
}
nav {
  display: flex;
  flex-direction: column;
}

main {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 10px 18px #888888;
  padding-left: 29px;
  padding-right: 29px;
}

h1 {
  font-size: 2.3rem;
  font-weight: 600;
}
h3 {
  font-weight: 400;
  color: gray;
}

strong {
  color: #aa2072;
}

iframe {
  border-radius: 36px;
  width: 80%;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}

main div {
  background-color: #ddeeee;
  width: 80%;
  margin: auto;
}

h2 {
  text-align: center;
}

button {
  background-color: blue;
  color: white;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  border-style: hidden;
}

input [type="email"] {
  padding: 4px;
  border-bottom-style: 4px dashed gray;
  font-family: "Poppins", sans-serif;
  font-size: 1em;
}

li > span {
  background-color: #ddddde;
  border-radius: 4px;
  border: 1px solid gray;
}

caption {
  font-style: italic;
  font-weight: 700;
}

thead {
  background-color: #3567e9;
  color: white;
  padding: 20px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

nav > p {
  margin: 0;
}

aside > div {
  background-color: #ddeeee;
  width: 80%;
  margin: auto;
  padding-bottom: 40px;
}

p > a {
  color: #0099cc;
  font-weight: 700;
}
